@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100%;
  height: 100%;
}

.tiptap .is-editor-empty:first-child::before {
  @apply web-text-indigo-200 web-opacity-70 web-pointer-events-none web-h-0 web-float-left;
  content: attr(data-placeholder);
}
